<table>
    <thead>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>kraftstoff</th>
            <th>farbe</th>
            <th>bauart</th>
            <th>tank</th>
        </tr>
    </thead>
    <tbody>
        {{#each data}}
        <tr>
            <th>{{id}}</th>
            <th>{{name}}</th>
            <th>{{kraftstoff}}</th>
            <th>{{farbe}}</th>
            <th>{{bauart}}</th>
            <th>{{tank}}</th>
        </tr>
        {{/each}}
    </tbody>
</table>